{
  "parser": "babel-eslint",
  "extends": "airbnb-base/legacy",
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {

  },
  "rules": {
    "no-console": "off",
    "no-unused-expressions": "off"
  }
}